@import "/src/ui/styles";

.container {
  display: flex;

  > *:first-child {
    flex-grow: 1;
  }

  .issue_type {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
    }

    .id {
      margin-left: spacing(4);
      font-size: 16px;
      color: lighten($color: color(font-light), $amount: 10);
    }
  }

  .header_button {
    padding: 6px;
    display: flex;
    margin-left: 12px;
    background: transparent;
    border: none;
    border-radius: 4px;
    color: color(icon);
    cursor: pointer;
    
    &:hover {
      background-color: color(grey-300);
    }
  }
}