@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-primary-main; */
    /* @apply dark:focus-visible:outline-primary-main; */
  }
}

:root {
  --Placeholder: rgb(0, 85, 204);
  --Red500: rgb(255, 59, 48);
  --Green500: rgb(76, 217, 100);

  --Neutral0: #ffffff;
  --Neutral100: #f7f8f9;
  --Neutral200: #f1f2f4;
  --Neutral300: #dcdfe4;
  --Neutral400: #b3b9c4;
  --Neutral500: #8590a2;
  --Neutral600: #758195;
  --Neutral700: #626f86;
  --Neutral800: #44546f;
  --Neutral900: #2c3e5d;
  --Neutral1000: #172b4d;

  --DarkNeutral100: #172b4d;

  --Blue100: #e9f2ff;
  --Blue200: #cce0ff;
  --Blue300: #85b8ff;
  --Blue700: #0c66e4;
  --Blue800: #0055cc;
  --Blue900: #09326c;
}

:root,
.light {
  /* Text */
  --color-font: var(--Neutral1000);
  --color-font-success: var(--Placeholder);
  --color-font-danger: var(--Placeholder);
  --color-font-warning: var(--Placeholder);
  --color-font-info: var(--Placeholder);
  --color-font-subtle: var(--Neutral800);
  --color-font-subtlest: var(--Placeholder);
  --color-font-accent-blue: var(--Placeholder);
  --color-font-accent-green: var(--Green500);
  --color-font-accent-grey: var(--Placeholder);
  --color-font-link: var(--Placeholder);
  --color-font-link-hover: var(--Placeholder);
  --color-font-link-pressed: var(--Placeholder);
  --color-font-inverse: var(--Neutral0);

  /* Elevation */
  --color-elevation-surface: var(--Neutral0);
  --color-elevation-surface-hovered: var(--Neutral200);
  --color-elevation-surface-pressed: var(--Neutral300);
  --color-elevation-surface-overlay: var(--Neutral0);
  --color-elevation-surface-overlay-hovered: var(--Neutral200);
  --color-elevation-surface-overlay-pressed: var(--Neutral300);
  --color-elevation-surface-raised: var(--Neutral0);
  --color-elevation-surface-raised-hovered: var(--Neutral200);
  --color-elevation-surface-raised-pressed: var(--Neutral300);
  --color-elevation-surface-sunken: var(--Neutral100);
  --color-shadow-overflow: 0px 0px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.12);

  /* Background */
  --color-background-brand: var(--Blue700);
  --color-background-brand-hovered: var(--Blue800);
  --color-background-brand-pressed: var(--Blue900);
  --color-background-success: var(--Placeholder);
  --color-background-info: var(--Placeholder);
  --color-background-warning: var(--Placeholder);
  --color-background-danger: var(--Placeholder);
  --color-background-subtle: var(--Placeholder);
  --color-background-subtlest: var(--Placeholder);
  --color-background-selected: var(--Blue100);
  --color-background-selected-hovered: var(--Blue200);
  --color-background-selected-pressed: var(--Blue300);
  --color-background-accent: var(--Placeholder);
  --color-background-accent-green: var(--Placeholder);
  --color-background-accent-blue: var(--Placeholder);
  --color-background-accent-grey-subtlest: var(--Neutral200);
  --color-background-accent-grey-subtler: var(--Neutral300);
  --color-background-accent-grey-subtle: var(--Neutral500);
  --color-background-accent-grey-bolder: var(--Neutral700);
  --color-background-disabled: var(--Placeholder);
  --color-background-input: var(--Placeholder);
  --color-background-input-hovered: var(--Placeholder);

  /* Border */
  --color-border-selected: var(--Blue700);

  --color-primary-main: #0052cc;
  --color-primary-light: #deebff;
  --color-primary-main-hover: #005ce6;
  --color-primary-light-hover: #c5dcff;
  --color-secondary-main: #403294;
  --color-secondary-light: #eae6ff;
  --color-success-main: #00875a;
  --color-success-light: #00a16b;
  --color-warn-main: #ffab00;
  --color-error-main: red;
  --color-error-light: #ffe5e5;
  --color-error-dark: #b30000;
  --color-error-hover: #fdd8d8;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-100: #fafbfc;
  --color-grey-200: #f4f5f7;
  --color-grey-300: #ebecf0;
  --color-grey-400: #e0e1e6;
  --color-grey-500: #dddddd;
  --color-grey-600: #d3d3d3;
  --color-font-main: #172b4d;
  --color-font-light: #5e6c84;
  --color-font-grey: #676767;
  --color-font-success-main: #006644;
  --color-font-success-light: #e3fcef;
  --color-icon: #344563;
  --color-focus: #4c9aff;
  --color-transparent: transparent;
}

.dark {
  --color-primary-main: #3e8bfe;
  --color-primary-light: #002b4c;
  --color-primary-main-hover: #4c9aff;
  --color-primary-light-hover: #c5dcff;
  --color-secondary-main: #403294;
  --color-secondary-light: #eae6ff;
  --color-success-main: #00875a;
  --color-success-light: #00a16b;
  --color-warn-main: #ffab00;
  --color-error-main: #fe4c4c;
  --color-error-light: #2c0202;
  --color-error-dark: red;
  --color-error-hover: #fe6f6f;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-100: #444;
  --color-grey-200: #3d3d3d;
  --color-grey-300: #333;
  --color-grey-400: #2d2d2d;
  --color-grey-500: #222;
  --color-font-main: #e3fcef;
  --color-font-light: #838a86;
  --color-font-grey: #676767;
  --color-font-success-main: #00c382;
  --color-font-success-light: #e3fcef;
  --color-icon: #344563;
  --color-focus: #4c9aff;
  --color-transparent: transparent;
}
