@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-border-brand; */
    /* @apply dark:focus-visible:outline-border-brand; */
  }
}

@layer base {
  :root {
    --Placeholder: 0 85 204;

    --Neutral0: #ffffff;
    --Neutral100: #f7f8f9;
    --Neutral200: #f1f2f4;
    --Neutral300: #dcdfe4;
    --Neutral400: #b3b9c4;
    --Neutral500: #8590a2;
    --Neutral600: #758195;
    --Neutral700: #626f86;
    --Neutral800: #44546f;
    --Neutral900: #2c3e5d;
    --Neutral1000: #172b4d;

    --Neutral200A: #091e420f;
    --Neutral300A: #091e4224;
    --Neutral400A: #091e424f;

    --DarkNeutral100: #172b4d;

    --Blue100: #e9f2ff;
    --Blue200: #cce0ff;
    --Blue300: #85b8ff;
    --Blue400: #579dff;
    --Blue500: #388bff;
    --Blue600: #1d7afc;
    --Blue700: #0c66e4;
    --Blue800: #0055cc;
    --Blue900: #09326c;
    --Blue1000: #092957;

    --Green100: #dffcf0;
    --Green200: #baf3db;
    --Green300: #7ee2b8;
    --Green400: #4bce97;
    --Green500: #2abb7f;
    --Green600: #22a06b;
    --Green700: #1f845a;
    --Green800: #216e4e;
    --Green900: #164b35;
    --Green1000: #143c2b;

    --Yellow100: #fff7d6;
    --Yellow200: #f8e6a0;
    --Yellow300: #f5cd47;
    --Yellow400: #e2b203;
    --Yellow500: #cf9f02;
    --Yellow600: #b38600;
    --Yellow700: #946f00;
    --Yellow800: #7f5f01;
    --Yellow900: #533f04;
    --Yellow1000: #3f3102;

    --Red100: #ffedeb;
    --Red200: #ffd2cc;
    --Red300: #ff9c8f;
    --Red400: #f87462;
    --Red500: #ef5c48;
    --Red600: #e34935;
    --Red700: #ca3521;
    --Red800: #ae2a19;
    --Red900: #601e16;
    --Red1000: #4f1c16;
  }
}

:root,
.light {
  /* Text */
  --color-font: var(--Neutral1000);
  --color-font-brand: var(--Blue700);
  --color-font-success: var(--Placeholder);
  --color-font-danger: var(--Red800);
  --color-font-warning: var(--Placeholder);
  --color-font-info: var(--Placeholder);
  --color-font-accent-blue: var(--Blue800);
  --color-font-accent-green: var(--Green800);
  --color-font-accent-grey: var(--Neutral800);
  --color-font-link: var(--Placeholder);
  --color-font-link-hover: var(--Placeholder);
  --color-font-link-pressed: var(--Placeholder);
  --color-font-subtle: var(--Neutral800);
  --color-font-subtlest: var(--Neutral700);
  --color-font-disabled: var(--Neutral400A);
  --color-font-inverse: var(--Neutral0);

  /* Icon */
  --color-icon: var(--Neutral1000);
  --color-icon-brand: var(--Blue700);
  --color-icon-danger: var(--Red600);
  --color-icon-selected: var(--Blue700);
  --color-icon-subtle: var(--Neutral700);
  --color-icon-inverse: var(--Neutral0);
  --color-icon-disabled: var(--Neutral400A);
  --color-icon-accent-green: var(--Green600);
  --color-icon-accent-yellow: var(--Yellow400);
  --color-icon-accent-red: var(--Red600);

  /* Elevation */
  --color-elevation-surface: var(--Neutral0);
  --color-elevation-surface-hovered: var(--Neutral200);
  --color-elevation-surface-pressed: var(--Neutral300);
  --color-elevation-surface-overlay: var(--Neutral0);
  --color-elevation-surface-overlay-hovered: var(--Neutral200);
  --color-elevation-surface-overlay-pressed: var(--Neutral300);
  --color-elevation-surface-raised: var(--Neutral0);
  --color-elevation-surface-raised-hovered: var(--Neutral200);
  --color-elevation-surface-raised-pressed: var(--Neutral300);
  --color-elevation-surface-sunken: var(--Neutral100);

  --color-shadow-overflow: 0px 0px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.12);
  --color-shadow-overlay: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);

  /* Background */
  --color-background-brand-subtlest: var(--Blue100);
  --color-background-brand-subtlest-hovered: var(--Blue200);
  --color-background-brand-subtlest-pressed: var(--Blue300);
  --color-background-brand-bold: var(--Blue700);
  --color-background-brand-bold-hovered: var(--Blue800);
  --color-background-brand-bold-pressed: var(--Blue900);
  --color-background-brand-boldest: var(--Blue1000);
  --color-background-brand-boldest-hovered: var(--Blue900);
  --color-background-brand-boldest-pressed: var(--Blue800);

  --color-background-success: var(--Placeholder);
  --color-background-info: var(--Placeholder);
  --color-background-warning: var(--Placeholder);

  --color-background-danger: var(--Red100);
  --color-background-danger-hovered: var(--Red200);
  --color-background-danger-pressed: var(--Red300);
  --color-background-danger-bold: var(--Red700);
  --color-background-danger-bold-hovered: var(--Red800);
  --color-background-danger-bold-pressed: var(--Red900);

  --color-background-subtle: var(--Placeholder);
  --color-background-subtlest: var(--Placeholder);

  --color-background-neutral: var(--Neutral200A);
  --color-background-neutral-hovered: var(--Neutral300A);
  --color-background-neutral-pressed: var(--Neutral400A);

  --color-background-selected: var(--Blue100);
  --color-background-selected-hovered: var(--Blue200);
  --color-background-selected-pressed: var(--Blue300);

  --color-background-accent: var(--Placeholder);
  --color-background-accent-green-subtlest: var(--Green100);
  --color-background-accent-green-subtler: var(--Green200);
  --color-background-accent-green-subtle: var(--Green400);
  --color-background-accent-green-bolder: var(--Green700);
  --color-background-accent-blue-subtlest: var(--Blue100);
  --color-background-accent-blue-subtler: var(--Blue200);
  --color-background-accent-blue-subtle: var(--Blue400);
  --color-background-accent-blue-bolder: var(--Blue700);
  --color-background-accent-grey-subtlest: var(--Neutral200);
  --color-background-accent-grey-subtler: var(--Neutral300);
  --color-background-accent-grey-subtle: var(--Neutral500);
  --color-background-accent-grey-bolder: var(--Neutral700);

  --color-background-disabled: var(--Placeholder);

  --color-background-input: var(--Neutral0);
  --color-background-input-hovered: var(--Neutral100);
  --color-background-input-pressed: var(--Neutral0);

  --color-background-interaction: var(--Neutral1000);

  /* Border */
  --color-border: var(--Neutral300A);
  --color-border-bold: var(--Neutral600);
  --color-border-brand: var(--Blue700);
  --color-border-success: var(--Green600);
  --color-border-danger: var(--Red600);
  --color-border-selected: var(--Blue700);
  --color-border-focused: var(--Blue500);
  --color-border-input: var(--Neutral300A);
  --color-border-disabled: var(--Neutral200A);
  --color-border-accent-blue: var(--Blue600);
  --color-border-accent-grey: var(--Neutral600);

  /* --color-primary-main: #0052cc;
  --color-primary-light: #deebff;
  --color-primary-main-hover: #005ce6;
  --color-primary-light-hover: #c5dcff;
  --color-secondary-main: #403294;
  --color-secondary-light: #eae6ff;
  --color-success-main: #00875a;
  --color-success-light: #00a16b;
  --color-warn-main: #ffab00;
  --color-error-main: red;
  --color-error-light: #ffe5e5;
  --color-error-dark: #b30000;
  --color-error-hover: #fdd8d8;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-100: #fafbfc;
  --color-grey-200: #f4f5f7;
  --color-grey-300: #ebecf0;
  --color-grey-400: #e0e1e6;
  --color-grey-500: #dddddd;
  --color-grey-600: #d3d3d3;
  --color-font-main: #172b4d;
  --color-font-light: #5e6c84;
  --color-font-grey: #676767;
  --color-font-success-main: #006644;
  --color-font-success-light: #e3fcef;
  --color-icon: #344563;
  --color-focus: #4c9aff;
  --color-transparent: transparent; */
}

.dark {
  --color-primary-main: #3e8bfe;
  --color-primary-light: #002b4c;
  --color-primary-main-hover: #4c9aff;
  --color-primary-light-hover: #c5dcff;
  --color-secondary-main: #403294;
  --color-secondary-light: #eae6ff;
  --color-success-main: #00875a;
  --color-success-light: #00a16b;
  --color-warn-main: #ffab00;
  --color-error-main: #fe4c4c;
  --color-error-light: #2c0202;
  --color-error-dark: red;
  --color-error-hover: #fe6f6f;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-100: #444;
  --color-grey-200: #3d3d3d;
  --color-grey-300: #333;
  --color-grey-400: #2d2d2d;
  --color-grey-500: #222;
  --color-font-main: #e3fcef;
  --color-font-light: #838a86;
  --color-font-grey: #676767;
  --color-font-success-main: #00c382;
  --color-font-success-light: #e3fcef;
  --color-icon: #344563;
  --color-focus: #4c9aff;
  --color-transparent: transparent;
}
