@font-face {
  font-family: "CircularStdLight";
  src: 
    url('../../../public/fonts/CircularStd-Book.woff2') format('woff2'),
    url('../../../public/fonts/CircularStd-Book.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  ffont-display: swap;
}

@font-face {
  font-family: "CircularStdMedium";
  src: 
    url('../../../public/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('../../../public/fonts/CircularStd-Medium.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStdBold";
  src: 
    url('../../../public/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('../../../public/fonts/CircularStd-Bold.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStdBlack";
  src: 
    url('../../../public/fonts/CircularStd-Black.woff2') format('woff2'),
    url('../../../public/fonts/CircularStd-Black.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}