@import "/src/ui/styles/";


.container {
  width: 260px;
  max-width: 260px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-l;
  background-color: color(grey-200);

  .header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: spacing(5) spacing(6) spacing(8);
    z-index: 9;
    transition: .2s ease-in-out;
    text-transform: uppercase;
    font-family: $font-light;
    font-size: 13px;
    color: color(font-light);

    .title {
      display: flex;
      gap: spacing(4);
    }

    .create_issue {
      display: flex;
      padding: 4px;
      border: none;
      border-radius: $border-radius-m;
      background-color: transparent;
      color: grey;
      cursor: pointer;
    
      &:hover {
        background-color: color(grey-400);
      }
    }
  }

  .body {
    height: 100%;

    .issues_list {
      max-width: 260px;
      box-sizing: border-box;
      list-style-type: none;
      margin: 0;
      padding: spacing(2) spacing(6) 0;

      > li {
        margin-bottom: spacing(4);
      }
    }

  }
}

.empty_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: spacing(8);
  color: color(font-light);

  p {
    text-transform: uppercase;
    font-family: $font-light;
    font-size: 13px;
  }
}