@import "/src/ui/styles";

.container {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 spacing(10);
  box-sizing: border-box;
  box-shadow: 0px 1px 5px -1px rgba(0,0,0, 0.3);
  background-color: color(background-default);
  z-index: 9;

  .logo {
    display: flex;
    align-items: center;
    padding: spacing(3) spacing(6);
    border-radius: $border-radius-m;
    cursor: pointer;

    &:hover {
      background-color: color(primary-light);
    }

    .app_title {
      margin-left: spacing(4);
    }
  }

  .icons_container {
    display: flex;
    gap: spacing(5);

    > :first-child {
      // Temporary untill help dropdown is implemented
      cursor: not-allowed !important;
    }

    .icon {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      box-sizing: content-box;
      background-color: white;
      border: none;
      fill: white;
      color: color(icon);
      border-radius: 50%;
      cursor: pointer;
    
      &:hover {
        background-color: color(primary-light);
        color: color(primary-main);
      }
    }
  }
}