@import "/src/ui/styles";


.container {
  width: 100%;

  &.error {
    textarea,
    textarea:focus {
      color: darken($color: color(error-main), $amount: 5) !important;
      outline: 2px solid color(error-main) !important;
    }
  }

  textarea {
    line-height: 1.4;
    font-family: $font-light;
    font-size: 14px;

    &:not(:focus) {
      outline: 1px solid color(grey-400);
      background-color: color(grey-200);
    }
  }

  button {
    margin-top: spacing(4);
    padding: spacing(5) spacing(7);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: spacing(4);
    }

    &.save {
      background-color: color(primary-main);
      color: white;

      &:hover {
        background-color: lighten($color: color(primary-main), $amount: 5);
      }
    }
  }
}