@import "/src/ui/styles";
@import "../select.module.scss";

.trigger {
  &.in_progress {
    background-color: color(primary-main);
    color: white;

    &:hover {
      background-color: color(primary-hover);
    }
  }

  &.done {
    background-color: color(success-main);
    color: white;

    &:hover {
      background-color: color(success-hover);
    }
  }
}

.content {
  .item {
    font-size: 12px;
    
    > span:last-child {
      background-color: color(grey-300);
    }

    &.in_progress > span:last-child {
      color: color(primary-main);
      background-color: color(primary-light);
    }
  
    &.done > span:last-child {
      color: color(font-success-main);
      background-color: color(font-success-light);
    }
  }
}