# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.cache
/public/build
.env
src/app/styles/app-compiled.css
src/infrastructure/db/dev.db
src/infrastructure/db/migrations/migration_lock.toml
package-lock.json
/build
package-lock.json
