# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.cache
/public/build
/.netlify
.env
src/app/styles/app-compiled.css
src/infrastructure/db/dev.db
build
src/infrastructure/db/sqlite.db
