@import "/src/ui/styles";


.trigger {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: spacing(3) spacing(6);
  color: color(primary-main);
  background-color: color(primary-light);
  font-family: $font-normal;
  cursor: pointer;

  &:hover {
    background-color: color(primary-light-hover);
  }

  .icon {
    display: flex;
    align-items: center;
    margin-right: spacing(3);
  }
}

.content {
  padding: spacing(3);
  border-radius: 4px;
  background-color: white;
  box-shadow: 5px 5px 20px 1px rgba(0, 82, 204, 0.2);

  .item {
    display: flex;
    align-items: center;
    gap: spacing(4);
    padding: spacing(2) spacing(4);
    border-radius: 4px;
    color: color(primary-main);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: color(primary-light);
      outline: none;
    }
  }
}