$border-radius-m: 4px;
$border-radius-l: 6px;
$box-shadow-m: 
  0px 10px 38px -10px rgba(22, 23, 24, 0.35), 
  0px 10px 20px -15px rgba(22, 23, 24, 0.2);
$box-shadow-l: 
  rgba(14, 18, 22, 0.35) 0px 10px 38px -10px, 
  rgba(14, 18, 22, 0.2) 0px 10px 20px -15px;
$box-shadow-blue: 5px 5px 20px 1px rgba(0, 82, 204, 0.2);
$dialog-overlay-background: rgba(0,0,0,0.45);