@import "/src/ui/styles";

.container {
  position: relative;
  width: fit-content;

  .tooltip {
    position: absolute;
    left: 50%;
    top: calc(100% + 5px);
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    overflow-wrap: break-word;
    z-index: 800;

    &.visible {
      display: flex;
    }

    .content {
      width: fit-content;
      padding: spacing(1) spacing(3);
      color: white;
      background-color: color(font-main);
      border-radius: $border-radius-m;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 400;
    }
  }
}