@import "/src/ui/styles/";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;

  .header {
    .title {
      margin-top: spacing(8);
    }
  }

  .tools {
    display: flex;
    align-items: center;

    .users,
    .filters {
      display: inline;
    }

    .users {
      margin: 0 spacing(8);
    }
  }

  .categories {
    height: 100%;
    margin-top: spacing(24);
    display: flex;
    gap: 12px;
  }
}