@import "/src/ui/styles";

.container {
  display: flex;
  flex-direction: column;
  padding: spacing(6);
  box-shadow: rgba(0,0,0, 0.2) 0px 1px 1px, rgba(0,0,0, 0.2) 0px 0px 1px;
  border-radius: 3px;
  background-color: white;
  transition: background-color ease-in-out .2s;
  // cursor: pointer;

  &:hover {
    // background-color: color(primary-light);
  }

  .title {
    margin: 0 0 spacing(8);
  }

  .details {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .issue_type {
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
      }

      .code {
        margin-left: 5px;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .priority {
      display: flex;

      &.high {
        color: red;
      }

      &.medium {
        color: orange;
      }

      &.low {
        color: green;
      }
    }
  }
}