@import "/src/ui/styles/";

.issue_category {
  min-width: 260px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow-x: auto; //Uncomment to enable column scrolling
  border-radius: 3px;
  background-color: color(grey-200);

  .header {
    position: sticky;
    top: 0;
    left: 0;
    padding: spacing(5) spacing(3);
    background-color: color(grey-200);
  }

  .body {
    height: 100%;
    padding: 0 spacing(3);

    .issues_list {
      list-style-type: none;
      padding:  0;

      > * {
        margin-bottom: spacing(3);
      }
    }

  }
}