@import "/src/ui/styles";

.container {
  background-color: color(background-default);
  display: flex;
  height: 100%;
  // overflow: hidden;
  // flex-grow: 1;
  // box-sizing: border-box;


  .project_container {
    background-color: purple;
    width: 100%;
    // flex-grow: 1;
    // height: 100%;
    // display: flex;
  }
}