.container {
  width: 0px;
  display: inline-flex;
  flex: 1 1 0;
  background-color: blue;
  overflow-x: auto;
//   max-width: 100%;
}

.issue_category {
  overflow-x: auto;
  height: 500px;
  min-width: 100px;
  background-color: grey;
  margin-left: 100px;
}