.container {
  border-radius: 50%;

  .root {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
    }
  
    .fallback {
      background-color: pink;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}