@import "/src/ui/styles";

.container {
  display: flex;

  > *:first-child {
    flex-grow: 1;
  }

  .issue_type {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
    }

    .id {
      margin-left: spacing(4);
      font-size: 16px;
      color: lighten($color: color(font-light), $amount: 10);
    }
  }

  .header_button {
    padding: 6px;
    display: flex;
    margin-left: 12px;
    background: transparent;
    border: none;
    border-radius: $border-radius-m;
    color: color(icon);
    cursor: pointer;
    
    &:hover {
      background-color: color(grey-300);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dialog-overlay-background;
  z-index: 999;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: spacing(10);
  border-radius: $border-radius-m;
  background-color: white;
  box-shadow: $box-shadow-l;
  z-index: 9999;

  .title {
    margin-top: 0;
  }

  .description {
    font-family: $font-light;
    color: color(font-light);
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: spacing(8);
    margin-top: spacing(16);

    button {
      border: none;
      padding: spacing(3) spacing(7);
      border-radius: $border-radius-m;
      background-color: color(grey-300);
      font-family: $font-bold;
      font-size: 16px;
      cursor: pointer;
    }

    .cancel:hover {
      background-color: color(grey-400);
    }

    .action {
      background-color: color(error-light);
      color: color(error-dark);

      &:hover {
        background-color: color(error-hover);
      }
    }
  }
}