@import "/src/ui/styles";

.container {
  display: flex;
  position: relative;
  z-index: 4;

  .content {
    background-color: color(grey-100);
    max-width: 0;
    height: 100%;
    transition: .3s;
    opacity: 0;
    white-space: nowrap;

    &.open {
      $width: 240px;

      width: $width;
      max-width: $width;
      opacity: 1;
      white-space: normal;
    }
  
    .header {
      padding: spacing(12) spacing(10);
      display: flex;
      align-items: flex-start;
  
      img {
        border-radius: 3px;
        margin-top: spacing(1);
      }
  
      .project {
        margin-left: spacing(8);
  
        .name,
        .description {
          display: block;
        }

        .name {
          font-family: $font-bold;
          font-size: 18px;
        }

        .description {
          font-family: $font-light;
          font-size: 14px;
        }
      }
    }
  
    .body {
      padding: spacing(5);
  
      .nav_item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: spacing(8);
        padding: spacing(4) spacing(5);
        border: none;
        border-radius: 3px;
        background-color: transparent;
        font-family: $font-normal;
        cursor: pointer;
      
        &:hover {
          background-color: color(grey-300);
        }
      
        &.active {
          background-color: color(grey-300);
          color: color(primary-main);
      
          svg {
            color: color(primary-main);
          }
        }

        &.disabled:hover {
          background-color: transparent;
          cursor: not-allowed;

          .not_implemented {
            display: flex;
          }

          .name {
            display: none;
          }
        }

        .not_implemented {
          display: none;
          align-items: center;
          background-color: color(grey-300);
          margin-left: spacing(-4);
          padding: spacing(3) spacing(4) spacing(2);
          border-radius: 4px;
          text-transform: uppercase;
          font-size: 12px;
        }

        svg {
          color: color(icon);
          fill: white;
        }
      }
    }
  }

  .toggle_bar {
    height: 100%;
    width: 10px;
    right: 0px;
    margin-left: spacing(14);
    position: relative;
    background-color: white;
    z-index: 8;
    
    &.open {
      margin-left: 0;
    }

    .bar {
      width: 3px;
      left: -3px;
      height: 100%;
      position: absolute;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);;
      opacity: 0.5;
    }

    .button_container {
      width: 24px;
      height: 24px;
      position: absolute;
    }

    button {
      position: absolute;
      left: -50%;
      top: spacing(12);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border-radius: 50%;
      border: none;
      box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
      color: rgba(0,0,0,0.6);
      background-color: white;
      cursor: pointer;

      &:hover {
        background-color: color(primary-main);
        color: white;
      }

      &.open {
        transform: rotate(180deg);
      }
    }
  }
}