@import "/src/ui/styles";

.container {
  display: flex;
  position: relative;
  z-index: 4;

  .content {
    background-color: color(grey-100);
    max-width: 0;
    height: 100%;
    transition: .3s;
    opacity: 0;
    white-space: nowrap;

    &.open {
      $width: 240px;

      width: $width;
      max-width: $width;
      opacity: 1;
      white-space: normal;
    }
  
    .header {
      padding: spacing(12) spacing(10);
      display: flex;
      align-items: flex-start;
    }
  }
}