@import "/src/ui/styles";

.container {
  display: flex;

  .avatar_container {
    cursor: pointer;
    z-index: 4;

    &:not(:first-child) {
      margin-left: spacing(-2.5);
    }

    &:hover {
      z-index: 5;
    }

    > * {
      border: 2px solid white;
    }
  }
}