@import "/src/ui/styles/";

.container {
  position: relative;
  width: fit-content;

  &:hover {
    input {
      background-color: color(grey-300);
    }
  }

  .icon_container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    padding: 0 spacing(4);


    .icon {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      color: color(icon);
      background-color: inherit;
      z-index: 3;

      &.search {
        cursor: text;
      }

      &.clear {
        border-radius: $border-radius-m;
        cursor: pointer;

        &:hover {
          background-color: color(grey-300);
        }
      }
    }
  }
  
  input {
    width: 120px;
    height: 40px;
    padding: spacing(4) spacing(16) spacing(4) spacing(3);
    box-sizing: border-box;
    background-color: color(grey-100);
    outline: 2px solid color(grey-400);
    border: none;
    border-width: 2px;
    border-radius: $border-radius-m;
    font-family: $font-light;
    transition: 0.2s ease-in-out 0s;

    &::placeholder {
      transition: 0.2s ease-in-out 0s;
    }

    &:focus {
      width: 190px;
      outline-color: color(primary-main);
      background-color: white;
      box-shadow: $box-shadow-blue;
    }
  }
}