@import "/src/ui/styles/";

.container {
  width: 100%;
  .header {
    .title {
      margin-top: spacing(8);
    }
  }

  .tools {
    display: flex;
    align-items: center;

    .users,
    .filters {
      display: inline;
    }

    .users {
      margin: 0 spacing(6);
    }
  }
}