@import "/src/ui/styles/";

.container {
  // width: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .header {
    .title {
      margin-top: spacing(8);
    }
  }

  .tools {
    display: flex;
    align-items: center;

    .users,
    .filters {
      display: inline;
    }

    .users {
      margin: 0 spacing(6);
    }
  }

  .issues {
    background-color: red;
    height: 100%;
    // box-sizing: border-box;
    // display: flex;
    // overflow-x: hidden;
    position: relative;
    margin-top: spacing(10);
  }
}