@import "/src/ui/styles";


.container {
  position: relative;
  margin-left: spacing(-6);

  &.require_error {
    textarea {
      outline: 2px solid color(error-main) !important;
    }

    .error_message {
      margin-left: spacing(6);
      color: color(error-main);
      font-family: $font-light;
      font-size: 14px;
      font-weight: lighter;
    }
  }

  textarea,
  p {
    line-height: 1.5;
    font-family: $font-black;
    font-size: 24px;
    font-weight: normal;
    transition: 0s !important;
  }

  .counter {
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    color: color(font-light);
    font-family: $font-light;
    font-weight: normal;
    font-size: 14px;

    &.max_length {
      color: color(error-main);
    }
  }
}