html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "CircularStdMedium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@font-face {
  font-family: "CircularStdLight";
  src: 
    url('./ui/assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('./ui/assets/fonts/CircularStd-Book.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStdMedium";
  src: 
    url('./ui/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('./ui/assets/fonts/CircularStd-Medium.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStdBold";
  src: 
    url('./ui/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('./ui/assets/fonts/CircularStd-Bold.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStdBlack";
  src: 
    url('./ui/assets/fonts/CircularStd-Black.woff2') format('woff2'),
    url('./ui/assets/fonts/CircularStd-Black.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}
